@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script:wght@400..700&family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script:wght@400..700&family=Modern+Antiqua&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "boska";
  src: url("/fonts/Boska-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.home {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    background-color: #108489;
}

.home .container-home {
  width: 80%;
  height: auto;
  margin: auto;

}
.home .container-home .wrapper-home {
  width: 100%;
  position: absolute;
  top: 50%; /* Changed from bottom to top */
  left: 50%;
  transform: translate(-50%, -50%); /* X and Y centering */
  z-index: 2000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.home .container-home .wrapper-home p:nth-child(1) {
  font-size: 24px;
  font-family: "Roboto", serif;
  color: white;
  font-weight: normal;
}

.home .container-home .wrapper-home p:nth-child(2) {
  font-size: 56px;
  font-family: "boska";
  color: white;
  letter-spacing: 1px;
}

.home .container-home .wrapper-home .img {
  width: 30%;
}
.home .container-home .wrapper-home .img  img{
  width: 100%;
}




/* app css */

.navbar {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            width:100%;
           
        }

        .navbar-container {
            width:80%;
            margin:auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Nunito', sans-serif;  
            
            padding: 1rem 0rem;
        }

        .navbar-brand {
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .navbar-links {
            display: flex;
            gap: 1rem;
        }

        .navbar-links a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
        }

        main {
            padding: 2rem;
            text-align: center;
        }

        .btn-logout {
            background: none;
            border: none;
            color: red;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            right: 0;
            background-color: white;
            min-width: 120px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            z-index: 1;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu a {
            display: block;
            padding: 10px;
            color: #333;
            text-decoration: none;
        }

        .dropdown-menu a:hover {
            background-color: #f0f0f0;
        }

/* app css */



/* LOGIN */

.login{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.login-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 30px 0;
    /* margin: 50px auto; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    

}



.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}



.input-error {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 5px;
}

.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.link {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
/* LOGIN */


/* REGISTER */

/* body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
} */

.register{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.register-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 30px 0;
    /* margin: 50px auto; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    

}

.wrapper-container {
    width:80%;
    margin:auto;
}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.input-error {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.register .btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.register .btn:hover {
    background: #218838;
}






.container-form {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container-form .form-card,
.container-form .table-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

.table-card {
  overflow-x: scroll;
}

.container-form .form-card .form-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.container-form .form-card .form-group {
  margin-bottom: 20px;
}

.container-form .form-card .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
  text-align:left;
}

.container-form .form-card .form-group input {
  width: 100%;
  padding: 10px 0px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.container-form .form-card .form-group input:focus {
  border-color: #7e3af2;
  background: #fff;
  outline: none;
}

.container-form .form-card .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.container-form .form-card .form-submit {
  text-align: right;
}

.container-form .form-card .form-submit button {
  background-color: #7e3af2;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.container-form .form-card .form-submit button:hover {
  background-color: #5b25d1;
}

.container-form .table-card .data-table {
  width: 100%;
  border-collapse: collapse;
  
}

.container-form .table-card .data-table thead {
  background-color: #f9f9f9;
  
}

.container-form .table-card .data-table th,
.container-form .table-card .data-table td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.container-form .table-card .data-table th {
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
}

.container-form .table-card .data-table tbody tr:hover {
  background-color: #f1f1f1;
}

.container-form .table-card .data-table .action-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.container-form .table-card .data-table .action-buttons a,
.container-form .table-card .data-table .action-buttons button {
  font-size: 14px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container-form .table-card .data-table .action-buttons a:hover,
.container-form .table-card .data-table .action-buttons button:hover {
  color: #0056b3;
}

.container-form .table-card .data-table .action-buttons button {
  color: red;
}





.form-container {
  margin-top: 20px;
  max-width: 700px;
  margin-inline: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;
  font-family:"arial",serif;

}

.form-container .form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-container .form-group {
  margin-bottom: 1.5rem;
}

.form-container .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align:left;
}

.form-container .form-group input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.form-container .submit-button {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.form-container .submit-button:hover {
  background-color: blue;
}
